# --- ENVIRONNEMENTS, PYTHON ---
# Virtual
.env
.env/
.venv/
venv/
env/
env_old/

# Conda files
conda_env/

# Compiled Python files
__pycache__/
*.py[cod]
*.so
*.pyd

# Logs, caches, etc.
*.log
*.csv
.cache/
pip-wheel-metadata/

# --- DATABASE ---
# Fichier de base SQLite
*.db
*.db-journal

# Ignore local binary DB backups
backups/db/

# --- MACOS + IDEs ---
.DS_Store
.AppleDouble
.LSOverride
Icon?

# VS Code / IDE config
.vscode/
.idea/

# --- STREAMLIT SECRETS ---
.streamlit/secrets.toml
.streamlit/secrets.json

# --- PYINSTALLER & BUILD ARTIFACTS ---
dist/
build/
*.egg-info/
.eggs/
*.spec

# --- PACKAGING & DISTRIBUTION ---
benchHUB-package/
*.zip
*.png
*.mp4

# --- EXCEPTIONS ---
!.streamlit/secrets_template.toml
!benchHUB.jpg
